/**
    Changez le style pour votre composante. N'ayez pas peur, ce fichier de style
    ne va affectez que ce composant.
 */
ul {
    display: flex;
    list-style: none;
}

li {
    flex: 1;
}
p {
    font-size: 1rem;
}

a {
  color: lime;
  text-decoration: none;
}

a:hover, a:active{
    text-decoration: underline;
}

a::visited {
  color: rebeccapurple;
}

#navBar {
    border: 0.10em, solid, limegreen;
    background-color: #010101;
    max-width: 96%;
    max-height: max-content;
    margin:auto;
}

.sep {
    border: none;
    border-top: 3px double hotpink;
    margin-top: 1.5em;
}



.postTitle {
    font-size: 2.5rem;
    margin-bottom: 2px;
}

.postMeta {
    /* color: hotpink; */
    font-style: italic;
    font-weight: 700;
    font-size: 0.80rem;
    margin-bottom: 1.5em;
}

#wrapperPosts {
    max-width: 90%;
    margin-inline: auto;
}
