p {
    font-size: 1rem;
}

.sep {
    border: none;
    border-top: 3px double hotpink;
    margin-top: 1.5em;
}

.postTitle {
    font-size: 2.5rem;
    margin-bottom: 2px;
}

.postMeta {
    /* color: hotpink; */
    font-style: italic;
    font-weight: 700;
    font-size: 0.80rem;
    margin-bottom: 1.5em;
}

#wrapperPosts {
    max-width: 90%;
    margin-inline: auto;
}